<div layout="column" layout-fill layout-margin layout-padding>
  <div layout="row" layout-fill layout-margin layout-padding>
    <md-checkbox ng-model="Show.checked" ng-change="Show.checkDone()" ng-disabled="Show.editmode" aria-label="Segna la scadenza come completata"></md-checkbox>
    <h3 class="md-display-1 editable" ng-model="Show.Deadline.Descrizione" contenteditable="false"></h3>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="Show.Edit()" ng-show="!Show.editmode">
      <md-icon>&#xE254;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Delete()" ng-show="!Show.editmode">
      <md-icon>&#xE872;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Cancel()" ng-show=" Show.editmode">
      <md-icon>&#xE5CD;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Apply()" ng-show=" Show.editmode">
      <md-icon>&#xE876;</md-icon>
    </md-button>
  </div>
  <div class="Data">
    Data di scadenza: <span class="editable" ng-model="Show.Deadline.Data" contenteditable="false"></span>
  </div>
</div>
