<div layout="column" layout-fill layout-margin layout-padding>
  <h3 class="md-display-2 ">Impostazioni</h3>
  <form name="form" layout="column" layout-fill layout-padding layout-margin>
    <h4 class="md-display-1">Informazioni personali</h4>
    <div layout="row" layout-xs="column">
      <md-input-container flex-gt-xs="45">
        <label>
          Nome
        </label>
        <input name="Nome" type="text" ng-model="Update.Settings.Nome" aria-label="Nome" required md-no-asterisk/>
      </md-input-container>
      <md-input-container >
        <label>
          Cognome
        </label>
        <input name="Cognome" type="text" ng-model="Update.Settings.Cognome" aria-label="Cognome" required md-no-asterisk/>
      </md-input-container>
  </div>
   <div layout="row" layout-xs="column">
      <md-input-container flex-gt-xs="45">
        <label>
          Data di nascita
        </label>
        <input name="DataNascita" type="date" ng-model="Update.Settings.DataNascita" aria-label="Data di nascita" md-no-asterisk/>
      </md-input-container>
      <md-input-container >
        <label>
          Città
        </label>
        <input name="Città" type="text" ng-model="Update.Settings.City" aria-label="Città" md-no-asterisk/>
      </md-input-container>
      <md-input-container >
        <label>
          Professione
        </label>
        <input name="Professione" type="text" ng-model="Update.Settings.Professione" aria-label="Professione" md-no-asterisk/>
      </md-input-container>
  </div>
  <div layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-click="Update.submitPersonal()" aria-label="submit" ng-disabled="form.$invalid">Submit</md-button>
  </div>
  <md-divider></md-divider>
  <h4 class="md-display-1">Cambia foto profilo</h4>
  <input file-model="Update.Settings.FotoProfilo" type=file accept="image/*">
  <div layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-click="Update.changePhoto()" aria-label="submit" ng-disabled="form.$invalid">Submit</md-button>
  </div>
  <md-divider></md-divider>
  <h4 class="md-display-1">Preferenze</h4>
  Scegli la vista del calendario predefinita
  <md-radio-group ng-model="Update.Settings.VistaCalendario">
    <md-radio-button value="month" selected>Mensile</md-radio-button>
    <md-radio-button value="week" selected>Settimanale</md-radio-button>
    <md-radio-button value="day" selected>Giornaliera</md-radio-button>
  </md-radio-group>
  <md-input-container >
    <label>
      Inizio giorno
    </label>
    <input name="OraInizioGiorno" type="time" ng-model="Update.Settings.OraInizioGiorno" aria-label="Inizio giorno" required md-no-asterisk/>
    <div class="hint">
      A che ora inizia di solito la tua giornata?
    </div>
  </md-input-container>
  <div layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-click="Update.submitPreferences()" aria-label="submit" ng-disabled="form.$invalid">Submit</md-button>
  </div>
</form>
</div>
