<div layout="column" layout-fill layout-margin layout-padding>
  <h3 class="md-display-1">Crea una nuova scadenza</h3>
  <form name="form" layout="column" layout-fill layout-padding layout-margin>
    <div layout="row" layout-xs="column">
      <div layout="column" flex-gt-xs="45">
        <md-input-container >
          <label>
            Descrizione
          </label>
          <input name="titolo" type="text" ng-model="Create.Deadline.Descrizione" aria-label="descrizione" md-maxlength="50" required md-no-asterisk/>
          <div ng-messages="form.titolo.$error">
            <div ng-message="required">Campo obbligatorio</div>
            <div ng-message="md-maxlength">La descrizione può essere lunga massimo 50 caratteri</div>
          </div>
        </md-input-container>
      </div>
      <span flex></span>
      <div layout="column">
        <div layout="row" flex-xs="100" layout-align="space-between">
          <md-input-container >
            <label>
              Priorità
            </label>
            <md-select ng-model="Create.Deadline.Priority" >
              <md-option ng-repeat="Priority in Create.Priorities" ng-value="{{Priority.val}}" >
                <md-icon class="{{Priority.class}} material-icons">&#xE153;</md-icon>{{ Priority.nome }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex-xs=60>
            <label>
              Data
            </label>
            <md-datepicker  ng-model="Create.Deadline.Data" required md-no-asterisk md-open-on-focus>
          </md-input-container>
        </div>
      </div>
    </div>
    <md-input-container >
      <label>Promemoria</label>
      <md-icon>&#xE855;</md-icon>
      <input type="number" ng-model="Create.Deadline.Promemoria" aria-label="promemoria" value="1"/>
      <div class="hint">
        Quanti giorni prima vuoi essere avvisato?
      </div>
    </md-input-container>
    <div layout="row" layout-fill layout-align="space-between">
        <md-switch ng-model="Create.repeated" aria-label="Scadenza ripetuta" ng-false-value>Scadenza ripetuta</md-switch>
      <md-input-container flex="70" ng-show="Create.repeated">
        <label>
          Frequenza
        </label>
        <input type="number" ng-model="Create.Deadline.Frequenza"  aria-label="frequenza" />
        <div class="hint">
          Ogni quanti giorni si ripete?
        </div>
      </md-input-container>
    </div>
    <div layout="row" ng-show="Create.repeated" layout-fill layout-align="space-between">
      <md-switch ng-model="Create.repeatedLimit" aria-label="Limite scadenza ripetuta" ng-false-value>Ha una fine?</md-switch>
      <md-input-container flex="70" ng-show="Create.repeatedLimit">
        <label>
          Ricorrenza
        </label>
        <input type="number" ng-model="Create.Deadline.Ricorrenza" aria-label="ricorrenza" />
        <div class="hint">
          Quante volte si ripete?
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-click="Create.submit()" aria-label="submit" ng-disabled="form.$invalid">Submit</md-button>
    </div>
  </form>
</div>
