<div layout="column" layout-fill layout-margin layout-padding>
  <h3 class="md-display-1">Crea un nuovo evento</h3>
  <form name="form" layout="column" layout-fill layout-padding layout-margin>
    <div layout="row" layout-xs="column">
      <div layout="column" flex-gt-xs="45">
        <md-input-container >
          <label>
            Titolo
          </label>
          <input name="titolo" type="text" ng-model="Create.Event.Titolo" aria-label="titolo" md-maxlength="50" required md-no-asterisk/>
          <div ng-messages="form.titolo.$error">
            <div ng-message="required">Campo obbligatorio</div>
            <div ng-message="md-maxlength">Il titolo può essere lungo massimo 50 caratteri</div>
          </div>
        </md-input-container>
        <md-input-container >
          <label>
            Categoria
          </label>
          <md-select name="categoria" ng-model="Create.Event.NomeCategoria" required md-no-asterisk>
            <md-option ng-repeat="Categoria in Create.Categorie" value="{{Categoria}}" >{{ Categoria }}</md-option>
          </md-select>
          <div ng-messages="form.categoria.$error">
            <div ng-message="required">Campo obbligatorio</div>
          </div>
        </md-input-container>
      </div>
      <span flex></span>
      <div layout="column">
        <div layout="row" flex-xs="100" layout-align="space-between">
          <md-input-container flex-xs=60>
            <label>
              Data inizio
            </label>
            <md-datepicker name="DataInizio" ng-model="Create.Event.DataInizio" required md-no-asterisk>
            <div ng-messages="form.DataInizio.$error">
              <div ng-message="required">Campo obbligatorio</div>
            </div>
          </md-input-container>
          <md-input-container flex-xs=40>
            <label>
              Ora inizio
            </label>
            <input name="OraInizio" type="time" ng-model="Create.Event.OraInizio" required md-no-asterisk/>
            <div ng-messages="form.OraInizio.$error">
              <div ng-message="required">Campo obbligatorio</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" flex-xs="100" layout-align="space-between">
          <md-input-container flex-xs=60>
            <label>
              Data fine
            </label>
            <md-datepicker ng-model="Create.Event.DataFine" name="DataFine" required md-no-asterisk>
              <div ng-messages="form.DataFine.$error">
                <div ng-message="required">Campo obbligatorio</div>
              </div>
          </md-input-container>
          <md-input-container flex-xs=40>
            <label>
              Ora fine
            </label>
            <input type="time" ng-model="Create.Event.OraFine" name="OraFine" required md-no-asterisk/>
            <div ng-messages="form.OraFine.$error">
              <div ng-message="required">Campo obbligatorio</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </div>
    <md-input-container >
      <label>
        Descrizione
      </label>
      <textarea ng-model="Create.Event.Descrizione" aria-label="descrizione" rows="3" md-select-on-focus/>
    </md-input-container>
    <md-input-container >
      <label>Promemoria</label>
      <md-icon>&#xE855;</md-icon>
      <input type="number" name="Promemoria" ng-model="Create.Event.Promemoria" aria-label="promemoria" value="1" min="0"/>
      <div class="hint">
        Quante ore prima vuoi essere avvisato?
      </div>
    </md-input-container>
    <my-contact-chips partecipants="Create.Event.Partecipanti" readonly="false"></my-contact-chips>
    <div layout="row" layout-fill layout-align="space-between">
        <md-switch ng-model="Create.repeated" aria-label="Evento ripetuto" ng-false-value>Evento ripetuto</md-switch>
      <md-input-container flex="70" ng-show="Create.repeated">
        <label>
          Frequenza
        </label>
        <input type="number" ng-model="Create.Event.Frequenza"  aria-label="frequenza" name="Frequenza" value="2"/>
        <div class="hint">
          Ogni quanti giorni si ripete?
        </div>
      </md-input-container>
    </div>
    <div layout="row" ng-show="Create.repeated" layout-fill layout-align="space-between">
      <md-switch ng-model="Create.repeatedLimit" aria-label="Limite evento ripetuto" ng-false-value>Ha una fine?</md-switch>
      <md-input-container flex="70" ng-show="Create.repeatedLimit">
        <label>
          Ricorrenza
        </label>
        <input type="number" ng-model="Create.Event.Ricorrenza" aria-label="ricorrenza" name="Ricorrenza" value="1"/>
        <div class="hint" ng-if="!form.Ricorrenza.$error">
          Quante volte si ripete?
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-click="Create.submit()" aria-label="submit" ng-disabled="form.$invalid">Submit</md-button>
    </div>
  </form>
</div>
