<div layout="column" layout-fill layout-margin layout-padding>
  <div layout="row" layout-fill layout-margin layout-padding>
    <h3 class="md-display-1 editable" ng-model="Show.Event.Titolo" contenteditable="false"></h3>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="Show.Edit()" ng-show="Show.owner && !Show.editmode">
      <md-icon>&#xE254;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Delete()" ng-show="Show.owner && !Show.editmode">
      <md-icon>&#xE872;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Cancel()" ng-show="Show.editmode">
      <md-icon>&#xE5CD;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Apply()" ng-show="Show.editmode">
      <md-icon>&#xE876;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Vote('Y')"  ng-show="!Show.owner">
      <md-icon ng-class="{'chosen-response': Show.Response.Yes }">&#xE8DC;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Vote('M')"  ng-show="!Show.owner">
      <md-icon ng-class="{'chosen-response': Show.Response.Maybe }">&#xE8DD;</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="Show.Vote('N')"   ng-show="!Show.owner">
      <md-icon ng-class="{'chosen-response': Show.Response.No }" >&#xE8DB;</md-icon>
    </md-button>
  </div>
  <div class="descrizione editable" ng-model="Show.Event.Descrizione" contenteditable="false">
    {{Show.Event.Descrizione}}
  </div>
  <!-- <div class="Ora">
    Inizio:
    <span class="editable" ng-model="Show.Event.DataInizio" contenteditable="false"></span>
    <span class="editable" ng-model="Show.Event.OraInizio" contenteditable="false"></span>
    <br />Fine:
    <span class="editable" contenteditable="false" ng-model="Show.Event.DataFine" ng-show='Show.Event.DataInizio!=Show.Event.DataFine || Show.editmode'></span>
    <span class="editable" contenteditable="false" ng-model="Show.Event.OraFine"></span>
  </div> -->
  <div layout="column">
    <div layout="row" flex-xs="100" layout-align="start">
      <md-input-container flex-xs=60>
        <label>
          Data inizio
        </label>
        <md-datepicker  ng-model="Show.Event.DataInizio" required md-no-asterisk ng-disabled="!Show.editmode">
      </md-input-container>
      <md-input-container flex-xs=40>
        <label>
          Ora inizio
        </label>
        <input type="time" ng-model="Show.Event.OraInizio" required md-no-asterisk ng-disabled="!Show.editmode"/>
      </md-input-container>
    </div>
    <div layout="row" flex-xs="100" layout-align="start">
      <md-input-container flex-xs=60>
        <label>
          Data fine
        </label>
        <md-datepicker ng-model="Show.Event.DataFine" ng-disabled="!Show.editmode">
      </md-input-container>
      <md-input-container flex-xs=40>
        <label>
          Ora fine
        </label>
        <input type="time" ng-model="Show.Event.OraFine" ng-disabled="!Show.editmode"/>
      </md-input-container>
    </div>
  </div>
  <div class="Categoria" ng-show="!Show.editmode">
    Categoria: <span class="editable" contenteditable="false" ng-model="Show.Event.NomeCategoria"></span>
  </div>
  <div ng-show="Show.editmode">
    <md-input-container >
      <label>
        Categoria
      </label>
      <md-select ng-model="Show.Event.NomeCategoria" >
        <md-option ng-repeat="Categoria in Show.Categorie" value="{{Categoria}}">{{ Categoria }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="Promemoria" >
    Promemoria: <span class="editable" contenteditable="false" ng-model="Show.Event.Promemoria"></span>
  </div>
  <my-contact-chips partecipants="Show.Event.Partecipanti" readonly="!Show.editmode" add="Show.addPartecipant(email)" rmv="Show.rmvPartecipant(email)"></my-contact-chips>
</div>
